@media (max-width: 1265px){
  .reviews-slider .slick-list{
  margin: 0;
  }
  .reviews-slider .slick-slide{
  margin: 0;
  }
  .reviews-box{  
  box-shadow: none;
  }
}

@media (max-width: 1105px){
.reviews-slider {
  margin-top: 60px;
  }
  .reviews-box {
    box-shadow: none;
    margin: 0 auto;
    max-width: 520px;
  }
}

@media (max-width: 1165px){
  .price__items{
    flex-wrap: wrap;
  }
  .price-item{
    max-width: 48%;
    margin-bottom: 50px;
  }
  .price-item__number{
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

@media (max-width: 1110px){
  .top-info {
    max-width: 400px;
  }
}

@media (max-width: 1065px){
  .footer__inner{
    flex-wrap: wrap;
  }
  .footer-col__logo {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px){
  .menu__list{
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #000;
    z-index: 5;
  }
  .menu__list li{
    margin-left: 0;
  }
  .menu__list a{
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    background-color: #fff;
 
  }
  .btn__menu{
    display: block;
  }
}

  @media (max-width: 970px){
    .top-info {
      max-width: 290px;
  }
}
  @media (max-width: 860px){
    .top-info {
      max-width: 230px;
  }
}

@media (max-width: 800px){
  .top-images__box img{
    width: 330px;
  }
  .top-images__circle {
    width: 200px;
    height: 200px;
    right: -55px;
  }
}

  @media (max-width: 750px){
   .top-images__box img{
    width: 300px;
  }
   .top-images__circle {
    width: 160px;
    height: 160px;
    right: -30px;
  }
  .top{
    padding-bottom: 70px;
  }
  .price {
    padding: 50px 0 50px;
  }
  .reviews {
    padding: 60px 0;
  }
  .footer-form {
    width: 100%;
    margin-top: 30px;
  }
  .footer__inner {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 640px){
  .top, .price{
    padding: 50px 0 30px;
  }
  .top-info{
    max-width: 100%;
  }
  .top-info__btn-descr{
    margin-bottom: 80px;
  }
  .top-images__box img{
    width: 270px;
  }
  .top-images__circle {
    width: 140px;
    height: 140px;
    right: -5px;
  }
  .top__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .price-item{
    max-width: 100%;
  }
}

@media (max-width: 580px){
  .reviews-box{
    display: block;
  }
  .reviews-box__images{
    width: 100%;
    min-height: 200px;

  }
  .reviews-box__content{
    width: 100%;
    padding: 20px;
    min-height: 250px;
  }
  .reviews-slider .slick-slide{
    padding-bottom: 20px;
  }

}

@media (max-width: 399px){
  .title {
    font-size: 36px;
    line-height: 40px;
  }
  .price__descr {
    margin: 28px auto 50px;
  }
  .price-item{
    padding: 0 20px 60px;
  }
  .footer-menu{
    margin-bottom: 30px;
    width: 100%;
  }
  .footer-form {
    margin-top: 0px;
  }
}

@media (max-width: 380px){
  .top-images__box img{
    width: 245px;
    margin-top: 30px;
  }
  .top-images__circle {
    width: 120px;
    height: 120px;
    right: 0px;
    top: 15px;
  }
  .top-images__date {
    text-align: right;
    width: 110px;
  }
  .top-images__title {
    margin-bottom: 10px;
    text-align: left;
    width: 100px;
  }
  .top-images__price {
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .top-info__title {
    font-size: 45px;
    line-height: 48px;
  }
}




@media (min-width: 992px){
  .menu__list {
    display: flex !important;
  }
}